<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.turner_industries.barcode_samples.Barcodes">
    <uses-sdk android:minSdkVersion="15" />
    <application android:label="Barcodes">
    </application>
</manifest>
